* {
  font-family: 'Oswald', sans-serif;

  padding: 0;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-image: url(./img/bg-1.png);
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

  width: 100%;

  @media (max-width: 800px) {
    /* display: none; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #251607;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    z-index: 10;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  a {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #251607;

    @media (max-width: 800px) {
      color: whitesmoke;
    }
  }
}

.logo,
.burger {
  display: none;

  @media (max-width: 800px) {
    display: block;
    z-index: 11;
    cursor: pointer;
  }
}

.header {
  padding: 52px 0 0;

  @media (max-width: 800px) {
    background-image: url(./img/bg-2.png);
    background-position: center;
    padding: 40px 0;
  }
}

.hero__wrapper {
  text-align: center;

  h1 {
    font-size: clamp(5.625rem, -1.023rem + 27.27vw, 26.25rem);
    line-height: 1;
    z-index: -1;
    position: relative;

    @media (max-width: 480px) {
      padding: 20px 0 0;
    }
  }

  p {
    margin-bottom: 30px;
    font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 480px) {
      padding: 20px 0;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media (max-width: 480px) {
      &:first-child {
        display: none;
      }
      justify-content: center;
    }
  }

  img {
    width: 100%;
  }
}

.swiper-slide {
  img {
    width: 100%;
  }
}

.album {
  margin-top: 100px;

  .container {
    max-width: 1900px;
    padding: 0;
  }
}

.meet__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;

  @media (max-width: 800px) {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  img {
    width: 100%;
  }

  p {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
  }
}

.meet__right {
  p {
    text-align: right;
    max-width: 800px;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 73.5px;

    @media (max-width: 800px) {
      text-align: center;
      margin-top: 30px;
    }
  }

  h2 {
    font-size: clamp(3.25rem, 0.792rem + 9.83vw, 10.625rem);
    text-transform: uppercase;
  }

  img {
    margin-bottom: 20px;
  }
}

.meet {
  padding: 100px 0;
}

.china-1 {
  @media (max-width: 800px) {
    display: none;
  }
}

.china-2 {
  display: none;
  width: 60%;

  @media (max-width: 800px) {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.our {
}
.our__title {
  text-align: center;
  text-transform: uppercase;
}
.our__wrapper {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    'card-1 card-2 card-4'
    'card-1 card-3 card-5';

    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px 20px;
      grid-template-areas:
        'card-1 card-1'
        'card-2 card-3'
        'card-4 card-5';
    }
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 20px 20px;
      grid-template-areas:
      'card-1'
      'card-2'
      'card-3'
      'card-4'
      'card-5';
      text-align: center;
    }
    

  .card-1 {
    grid-area: card-1;
    background-image: url(/img/plans-1.png);
  }
  .card-2 {
    grid-area: card-2;
    background-image: url(/img/plans-2.png);
  }
  .card-4 {
    grid-area: card-4;
    background-image: url(./img/plans-3.png);
  }
  .card-3 {
    grid-area: card-3;
    background-image: url(./img/plans-4.png);
  }
  .card-5 {
    grid-area: card-5;
    background-image: url(./img/plans-5.png);
  }
}
.our__card {
  min-height: 350px;
  border: 3px solid black;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-transform: uppercase;
  cursor: pointer;

  p {
    color: #aeaeae;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

    @media (max-width: 700px) {
      height: auto;
    }
  }

  h3 {
    transition: 0.5s;
    color: #FFF0E1;
    font-size: 30px;

    @media (max-width: 700px) {
      font-size: 30px;
    }
  }

  &:hover {
    p {
      height: 30px;
    }

    h3 {
      font-size: 40px;
    }
  }

  
}

.our__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 700px) {
    text-align: center;
  }
}


.team {
  padding: 100px 0;
}
.team__wrapper {
  display: grid;
  grid-template-columns: 10fr 1fr;
  gap: 60px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
.team__wrap {

  h2{
    font-size: clamp(4.375rem, 2.159rem + 9.09vw, 11.25rem);
    text-transform: uppercase;

  }
}
.team__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 30px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

}
.team__card {
  border: 3px solid black;
  /* min-height: 250px; */
  aspect-ratio: 2/1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: end;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff8e1;
  font-weight: 600;

  background-size: 120%;
  transition: 0.6s;

  cursor: pointer;

  &:hover{
    background-size: 160%;
  }

  &:nth-child(1){
    background-image: url(./img/team-1.png);
  }
  &:nth-child(2){
    background-image: url(./img/team-2.png);
  }
  &:nth-child(3){
    background-image: url(./img/team-3.png);
  }
  &:nth-child(4){
    background-image: url(./img/team-4.png);
  }
}
.team__img {
  width: 100%;
  min-height: 790px;

  @media (max-width: 900px) {
    display: none;
  }
}






.footer {
}
.container {
}
.footer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 52px;

  @media (max-width: 1200px) {
   grid-template-columns: 1.5fr 1fr; 
  }

  @media (max-width: 1000px) {
    grid-template-columns:  1fr; 
   }
}
.footer__box {

  > img{
    width: 100%;
  }
}

.footer__menu{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 40px;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.footer__eyes {

  width: 100%;
  margin-top: 30px;
  
}
.footer__text {
  width: 100%;
  border: 3px solid black;
}

.incubator{
  h1 {
    font-size: clamp(3.75rem, -1.89rem + 23.14vw, 21.25rem);
    line-height: 1;
    z-index: -1;
    position: relative;
    text-align: center;

    @media (max-width: 480px) {
      padding: 20px 0 0;
    }
  }

  h4{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: normal;
    padding-bottom: 100px;
    padding-top: 20px;

    @media (max-width: 1000px) {
      font-size: 20px;      
    }
  }
}

.incubator__collage {
  padding-bottom: 100px;
}

.incubator__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width:1200px) {
    flex-direction: column;
  }
}

.incubator___img {
  width: 100%;
  height: 100%;
  max-height: 1100px;
  object-fit: contain;
  aspect-ratio: 1/2;

  @media (max-width: 720px) {
    margin-bottom: -60px;
  }
}

.incubator__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;

  
}

.incubator__card {
  display: flex;
  border: 3px solid #251607;
  padding: 20px 15px ;
  align-items: center;
  gap: 10px;
  transition: 0.7s;
  cursor: pointer;

  h3{
    font-weight: 560;
    font-size: 30px;
    color: #251607;
  }

  h4{
    font-weight: 400;
    font-size: 18px;
    color: #251607;
  }

  p{
    font-size: 16px;
    font-weight: 360;
    color: #AEAEAE;
  }

  img{
    margin-left: auto;
    @media (max-width:1000px) {
      margin: 0 auto;
    }
  }

  &:hover{
    background-color: #251607;

    h3{
      color: #E69AA4;
    }

    h4{
      color: #E69AA4;
    }
  }

  @media (max-width:1000px) {
    flex-direction: column;
    text-align: center;
    img{
      width: 100%;
      max-width: 180px;
      aspect-ratio: 1/1;
    }
  }
  
}
